<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Enchantment Game</title>
    <link rel="stylesheet" type="text/css" href="../styles/trofeu.css" />
</head>

<body>
    <div class="trofeu-container">
        <div class="trofeu-conteudo">
            <h1 class="trofeu-titulo">Parabéns!</h1>
            <p class="trofeu-subtitulo">Você completou o Encantamento!</p>
            <div class="trofeu-pontuacao">
                <span>Pontuação Total</span>
                <strong id="pontuacao-total">0</strong>
            </div>
            <button id="jogar-novamente" type="button">Jogar novamente</button>
        </div>
    </div>
    <script src="../scripts/cenario3.js" charset="UTF-8"></script>
</body>

</html>
