<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Enchantment Game</title>
    <link rel="stylesheet" type="text/css" href="../styles/trofeu.css" />
</head>

<body>
    <div class="trofeu-container">
        <div class="trofeu-conteudo" id="trofeu-conteudo">
            <h1 class="trofeu-titulo">Parabéns!</h1>
            <p class="trofeu-subtitulo">Calculando seu relatório de Encantamento...</p>
        </div>
    </div>
    <script src="../scripts/pontuacao.js" charset="UTF-8"></script>
    <script src="../scripts/cenario3.js" charset="UTF-8"></script>
</body>

</html>
