<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Enchantment Game</title>
    <link rel="stylesheet" type="text/css" href="../styles/inicio.css" />
</head>

<body>
    <header>
        <button>Inicio</button>
        <button>Sair</button>
    </header>
    <main>
        <div class="selecao-jogador">
            <div class="cartao-personagem personagem-A" onclick="selecionarPersonagem(event)">
                <img src="../assets/animacoes/personagem A/stand_personagemA.png" id="personagem-A" />
                <h1 class="titulo">GreenWood</h1>
            </div>

            <div class="cartao-personagem  personagem-B" onclick="selecionarPersonagem(event)">
                <img src="../assets/animacoes/personagem B/stand_personagemB.png" id="personagem-B" />
                <h1 class="titulo">Esmerald</h1>
            </div>

            <div class="cartao-personagem personagem-C" onclick="selecionarPersonagem(event)">
                <img src="../assets/animacoes/personagem C/stand_personagemC.png" id="personagem-C" />
                <h1 class="titulo">Blue Warrior</h1>
            </div>
        </div>
    </main>
    <footer>
        <input placeholder="Selecione seu avatar..." />
    </footer>
    <script src="../scripts/inicio.js" charset="UTF-8"></script>
    <audio id="selecao" src="/assets/audios/selecao.mp3" />
</body>

</html>