<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo do Encantamento</title>

    <link rel="stylesheet" href="../styles/menu.css">
</head>

<body>

    <main class="menu">

        <h1>Jogo do Encantamento</h1>

        <div class="botoes">
            <button id="jogar" onclick="executarSomToque()">JOGAR</button>
            <button id="sair" onclick="executarSomToque()">SAIR</button>
        </div>

    </main>

    <script src="../scripts/menu.js"></script>
</body>

</html>